@use '../styles/mixins' as *;

.homeMain{
    width: 100%;
    height: var(--standard-height);    
    @include pageFrame;  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.formForm{
    background-color: var( --light-gray-bg);
    padding: 1rem;
    width: 80%;
    max-width: 500px;
    @include shadowBorder;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5rem;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
}

.homeParagraph{
    font-size: var(--font-lg);
    color: var(--dark-text);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}